logger: {}
chartname: ecr-secret-operator
sharedValues:
  affinity: {}
  nodeSelector: {}
  podSecurityContext: {}
  resources: {}
  securityContext: {}
  tolerations: {}
  serviceAccount:
    create: true
  prometheus:
    enabled: false
  AWS:
    "0123456789012":
      accessKey: AKAIEXAMPLE
      secretKey: dskwr4EXAMPLE
globalConfig:
  metadata.labels:
  - strategy: newline
    key: ecr-secret-operator.labels
fileConfig:
  helmchart/ecr-secret-operator-generated/ecr-secret-operator-controller-manager-deployment.yaml:
    spec.selector.matchLabels.control-plane:
    - strategy: inline
      key: ecr-secret-operator.contollerManagerLabel
    spec.template.metadata.labels.control-plane:
    - strategy: inline
      key: ecr-secret-operator.contollerManagerLabel
    spec.template.spec.serviceAccountName:
    - strategy: inline
      key: ecr-secret-operator.serviceAccountName
    spec.replicas:
    - strategy: inline
      key: replicas
      value: 1
    spec.template.spec.containers[1].image:
    - strategy: inline
      key: manager.image.repository
      value: fireflycons/ecr-secret-operator
    - strategy: inline
      key: ecr-secret-operator.imageTag
    spec.template.spec.volumes[0].secret.secretName:
    - strategy: inline
      key: ecr-secret-operator.secretName
    spec.template.spec.containers[1].args:
    - strategy: control-with
      key: manager.args
      value:
        - --health-probe-bind-address=:8081
        - --metrics-bind-address=127.0.0.1:8080
        - --leader-elect
        - --config-file=/etc/manager-config/config.toml
  helmchart/ecr-secret-operator-generated/ecr-secret-operator-controller-manager-metrics-monitor-servicemonitor.yaml:
    spec.selector.matchLabels.control-plane:
    - strategy: inline
      key: ecr-secret-operator.contollerManagerLabel
  helmchart/ecr-secret-operator-generated/ecr-secret-operator-controller-manager-metrics-service-svc.yaml:
    spec.selector.control-plane:
    - strategy: inline
      key: ecr-secret-operator.contollerManagerLabel
  helmchart/ecr-secret-operator-generated/ecr-secret-operator-controller-manager-sa.yaml:
    metadata.name:
    - strategy: inline
      key: ecr-secret-operator.serviceAccountName
  helmchart/ecr-secret-operator-generated/ecr-secret-operator-leader-election-role-role.yaml: {}
  helmchart/ecr-secret-operator-generated/ecr-secret-operator-leader-election-rolebinding-rb.yaml:
    subjects[0].name:
    - strategy: inline
      key: ecr-secret-operator.serviceAccountName
  helmchart/ecr-secret-operator-generated/ecr-secret-operator-manager-role-cr.yaml: {}
  helmchart/ecr-secret-operator-generated/ecr-secret-operator-manager-rolebinding-crb.yaml:
    subjects[0].name:
    - strategy: inline
      key: ecr-secret-operator.serviceAccountName
  helmchart/ecr-secret-operator-generated/ecr-secret-operator-manager-secret-secret.yaml:
    metadata.name:
    - strategy: inline
      key: ecr-secret-operator.secretName
    data:
    - strategy: newline
      key: ecr-secret-operator.secretData
  helmchart/ecr-secret-operator-generated/ecr-secret-operator-metrics-reader-cr.yaml: {}
  helmchart/ecr-secret-operator-generated/ecr-secret-operator-proxy-role-cr.yaml: {}
  helmchart/ecr-secret-operator-generated/ecr-secret-operator-proxy-rolebinding-crb.yaml:
    subjects[0].name:
    - strategy: inline
      key: ecr-secret-operator.serviceAccountName
  helmchart/ecr-secret-operator-generated/ecr-secret-operator-system-namespace.yaml: {}
  helmchart/ecr-secret-operator-generated/ecrsecrets.secrets.fireflycons.io-crd.yaml: {}
